rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /playlists/{docId} {
      // allows reaad create access to all authorized users
      allow read, create, update: if request.auth != null;
      // allow delete and update access if the current user id equals the user id of the particular playlist
      allow delete: if request.auth.uid == resource.data.userId
    }

    match /favouriteSongs/{docId} {
      allow read, create: if request.auth != null;
      allow delete, update: if request.auth != null
    }
  }
}